@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>

@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
    int count = 0;
}

<br />
<h4>Kargo Takip Kodu: @ViewBag.KargoTakipKodu</h4>
<br />

<table class="table table-bordered">
    <tr>
        <th>İşlem</th>
        <th>Açıklama</th>
        <th>Tarih</th>
    </tr>
    @foreach (var takip in Model)
    {
        ++count;
        <tr>
            <td>@count. adım</td>
            <td>@takip.Aciklama</td>
            <td>@takip.Tarih</td>
        </tr>
    }
</table>

