@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-4">
    <tr>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var kategori in Model)
    {
        <tr>
            <td>@kategori.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@kategori.KategoriId" class="btn btn-danger" onclick="return confirm('Kategori listeden kaldırılacaktır!')">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@kategori.KategoriId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Kategori/KategoriEkle" class="btn btn-primary">Yeni Kategori</a>


