@model MvcOnlineTicariOtomasyon.Models.Siniflar.Model_Classes.KategeoriyeGoreUrunModelClass

@{
    ViewBag.Title = "KategoriyeGoreUrunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div>
    <h2>Kategoriye Gore Urunler</h2>
</div>
<br />
<div>
    @Html.Label("Kategoriler")
    @Html.DropDownList("DrpKategori", Model.Kategoriler, "---Kategori Seçiniz---",new { @class = "form-control" })
    <br />
    @Html.Label("Urunler")
    @Html.DropDownList("DrpUrun", Model.Urunler, "---Ürün Seçiniz---", new { @class = "form-control" })
</div>

 
<script>
    $(function () {
        $('#DrpKategori').change(function () {
            var id = $('#DrpKategori').val();
            $.ajax({
                url: '/Kategori/UrunGetir',
                data: { katId: id },    
                type: 'POST',
                dataType: "Json",
                success: function(data) {
                    console.log(data);
                    $('#DrpUrun').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#DrpUrun').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                    }
                }
            });
        });
    });
</script>
