@model MvcOnlineTicariOtomasyon.Models.Siniflar.Model_Classes.KategeoriyeGoreUrunModelClass

@{
    ViewBag.Title = "KategoriyeGoreUrunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h2>Kategoriye Gore Urunler</h2>

<div>
    <h2></h2>
</div>
