@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model Departman

@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="my-4">Yeni Departman Sayfası</h2>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
